*, *::before, *::after
	box-sizing border-box
body
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

// 	background-color #ffffff
.container-fluid
	max-width 100%
	padding-right 15px
	padding-left 15px
	margin-right auto
	margin-left auto

.container
	width 100%
	padding-right 15px
	padding-left 15px
	margin-right auto
	margin-left auto
.row
	display flex
	flex-wrap wrap
	margin-right -15px
	margin-left -15px

// .col, .col-sm-8, .col-md-6, .col-md-7, .col-md-5, .col-md-4
.col, .col-6, .col-12,
.col-sm-3, .col-sm-4, .col-sm-6, .col-sm-9,
.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-9, .col-md-10,
.col-lg-2, .col-lg-4, .col-lg-10,
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-2, .col-xl-10
	position relative
	width 100%
	min-height 1px
	padding-right 15px
	padding-left 15px
.col
	display flex
	-ms-flex-preferred-size 0
	flex-basis 0
	-ms-flex-positive 1
	flex-grow 1
	max-width 100%
.col-6
	flex 0 0 50%
	max-width 50%
// .col-3
// 	flex 0 0 25%
// 	max-width 25%
.col-12
	-ms-flex 0 0 100%
	flex 0 0 100%
	max-width 100%
// .nav
// 	display flex
// 	flex-wrap wrap
.d-block
	display block
.d-flex
	display flex
.justify-content-between
	justify-content space-between
.align-items-center
	-ms-flex-align center
	align-items center !important
.text-center
	text-align center !important
@media (min-width: 576px)
	.container
		width 100%
	.col-sm-4
		-ms-flex 0 0 33.333333%
		flex 0 0 33.333333%
		max-width 33.333333%
@media (min-width: 768px)
	.col-md-3
		flex 0 0 25%
		max-width 25%
	.col-md-9
		flex: 0 0 75%
		max-width: 75%
	.container
		width 100%
@media (min-width: 992px)
	.container
		width 100%
		max-width 1100px
	.col-lg-3
		-ms-flex: 0 0 25%
		flex: 0 0 25%
		max-width: 25%
	.col-lg-10
		-ms-flex: 0 0 83.333333%
		flex: 0 0 83.333333%
		max-width: 83.333333%

@media (min-width: 1200px)
	.container
		max-width 1340px
	.col-xl-2
		flex 0 0 16.666667%
		max-width 16.666667%
	.col-xl-6
		-ms-flex: 0 0 50%
		flex: 0 0 50%
		max-width: 50%
	.col-xl-10
		-ms-flex: 0 0 83.333333%
		flex: 0 0 83.333333%
		max-width: 83.333333%
.m-0
	margin 0
@media (max-width: 1200px)
	.p-0
		padding 0