
.car, .body
	margin-top: 0
	// padding-top: 18px
	// padding-bottom: 18px

.body
	background: #999
	background: #fff
h2
	font-weight 500
.car
	&_name
		font-size 18px
		margin-top: 8px
		margin-bottom: 8px

.car_item_active
	// color red
	font-weight 700
.card:hover
	font-weight 500
.card
	margin-bottom: 20px
	&_img
		width: 100%
		height: 150px
		background: rgba(20, 20,20 .5)
